@model ContactameYa.Models.conCOTpCotizacion

@{
//Layout = null;
}
    @using (Html.BeginForm("mtdGuardarCotizacion", "conClsCotizacion", FormMethod.Post))
    {
            @Html.HiddenFor(model => model.COTid_cotizacion)
            @Html.HiddenFor(model => model.USUid_usuario)
            <h4>Realizar una Cotizacion</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })           

            <div class="form-group row">
                @Html.LabelFor(model => model.COTnombre_cotizacion, htmlAttributes: new { @class = "col-form-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.COTnombre_cotizacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COTnombre_cotizacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.COTdescripcion, htmlAttributes: new { @class = "col-form-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.COTdescripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COTdescripcion, "", new { @class = "text-danger" })
                </div>
            </div>            
            <div class="form-group row">
                @Html.LabelFor(model => model.COTfecha_limiteEntrega, htmlAttributes: new { @class = "col-form-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.COTfecha_limiteEntrega, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.COTfecha_limiteEntrega, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear Cotizacion" class="btn btn-outline-success" />
                </div>
            </div>
    }

