@model ContactameYa.Models.conCOTpCotizacion

@{
    ViewBag.Title = "DETAILSCOTIZACIONVISTA";
}

<h2>DETAILSCOTIZACIONVISTA</h2>

<div>
    <h4>conCOTpCotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USUid_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUid_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COTnombre_cotizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COTnombre_cotizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COTdescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COTdescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COTfecha_publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COTfecha_publicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COTfecha_limiteEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COTfecha_limiteEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COTid_cotizacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
