@{ 
    ContactameYa.Models.conUSUpUsuario LobjUsuario = new ContactameYa.Models.conUSUpUsuario();
    ContactameYa.Models.SessionHelper.GetUser();

    //CATEGORIAS DE SERVICIOS Y SERVICIOS DEL PROVEEDOR
    List<ContactameYa.Models.conCATtCategoria> lstCategoriaServicios = ViewBag.lstCategoriaServicios;
    List<ContactameYa.Models.conSERpServicio> lstServicios = ViewBag.lstServicios;

    //LISTA DE ESTADOS
    List<SelectListItem> lstProvincias = new List<SelectListItem>();
    List<SelectListItem> lstDistritos = new List<SelectListItem>();

    //DEPARTAMENTOS
    List<ContactameYa.Models.conDTOtDepartamento> lstDepartamentos = ViewBag.lstDepartamentos;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/estilos.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="~/Content/starrr.css" rel="stylesheet" />


</head>
<body>

    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">

                <a href="@Url.Action("conFrmListarServiciosVista","conClsServicio")" class="navbar-brand d-flex align-items-center">
                    <img src="~/Imagenes/speech-bubble.svg" width="20" height="20" class="mr-2"/>             
                    <strong>  Contactame Ya</strong>
                </a>             
                @using (Html.BeginForm("conFrmFiltrarLocalizacionVista", "conClsServicio", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.DropDownList("xGintIdDepartamento", new SelectList(lstDepartamentos, "DTOid_departamento", "DTOnombre") ,
                   "Departamento", new { @class = "form-control mr-sm-2"})

                    @Html.DropDownList("xGintIdProvincia", new SelectList(lstProvincias, "PRVid_provincia", "PRVnombre") ,
                   "Provincia", new { @class = "form-control mr-sm-2"})

                    @Html.DropDownList("xGintIdDistrito", new SelectList(lstDistritos, "DSTid_distrito", "DSTnombre") ,
                   "Distrito", new { @class = "form-control mr-sm-2"})

                    <button class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z" />
                        </svg>
                    </button>
                }

                @if (ContactameYa.Models.SessionHelper.GetUser() > 0)
                {
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cuenta
                        </button>
                        <div class="dropdown-menu">
                            <div class="list-group">
                                <a href="@Url.Action("mtdCerrarSesion", "conClsSeguridad")" class="list-group-item list-group-item-action active">
                                    Cerrar Sesion
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">Mi Perfil</a>



                                <a href="@Url.Action("conFrmMisServiciosVista", "conClsServicio")" class="list-group-item list-group-item-action">Mis Servicios</a>
                                <a href="@Url.Action("conFrmRealizarCotizacionVista", "conClsCotizacion")" class="list-group-item list-group-item-action">Solicitar Cotizacion</a>

                                <a href="@Url.Action("conFrmMisCotizacionesVista", "conClsCotizacion")" class="list-group-item list-group-item-action">Mis Cotizaciones</a>

                                <a href="@Url.Action("conFrmCotizacionesVista", "conClsCotizacion")" class="list-group-item list-group-item-action">Cotizaciones</a>

                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ingresar
                        </button>

                        <div class="dropdown-menu">

                            @using (Html.BeginForm("mtdSeguridad", "conClsSeguridad", FormMethod.Post, new { @class = "px-4 py-3" }))
                            {
                                <div class="form-group">
                                    <label for="Usuario">Usuario</label>
                                    <input type="text" class="form-control" id="Usuario" name="Usuario" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="Contraseña">Contraseña</label>
                                    <input type="password" class="form-control" id="Contraseña" name="Contraseña" placeholder="">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label" for="dropdownCheck">
                                        Recordarme
                                    </label>
                                </div>
                                <button type="submit" data-ajax="true" class="btn btn-primary">Ingresar</button>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("conFrmRegistrarUsuario", "conClsSeguridad",  new { tipousuario = 3})">Registro de Clientes</a>
                            <a class="dropdown-item" href="@Url.Action("conFrmRegistrarUsuario", "conClsSeguridad", new { tipousuario = 2})">Desea ser un proveedor?</a>

                            <a class="dropdown-item" href="#">Recuperar Contraseña</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center banner">
            <div class="container">
                <h1 class="jumbotron-heading">Contactame Ya</h1>
                <p class="lead text-muted">
                    Publica tus servicios con Nosotros
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                @RenderBody()                
            </div>
        </div>

    </main>


    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Arriba</a>
            </p>
            <p>ContactameYa © Publica tus servicios con nosotros y aunmenta tus ingresos!</p>
            <p>Nuevo usuario? <a href="https://getbootstrap.com/">Registrate</a></p>
        </div>
    </footer>


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>


    <!-- scripts para login -->

    <script src="~/Scripts/ini.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/starrr.js"></script>

    <script>
        $(document).ready(function () {
            var Departamento = $("#xGintIdDepartamento");
            var Provincia = $("#xGintIdProvincia");
            var Distrito = $("#xGintIdDistrito");

            Departamento.on("change", function () {
                if ($("#xGintIdDepartamento").val() > 0 ) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("mtdListarProvincias", "conClsServicio")',
                        data: { id_departamento: $("#xGintIdDepartamento").val() },
                        dataType: "json",
                        success: function (data) {
                            Provincia.empty();
                            Provincia.append("<option >Provincia</option>");

                            $.each(data, function () {
                                console.log(this.PRVid_provincia);
                                console.log(this.PRVnombre);
                                Provincia.append("<option value='" + this.PRVid_provincia + "'>" + this.PRVnombre + "</option>");
                            });
                        }
                    });
                }                
            });

            Provincia.on("change", function () {
                if ($("#xGintIdProvincia").val() > 0) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("mtdListarDistritos", "conClsServicio")',
                        data: { id_provincia: $("#xGintIdProvincia").val() },
                        dataType: "json",
                        success: function (data) {
                            Distrito.empty();
                            Distrito.append("<option >Distrito</option>");
                            $.each(data, function () {
                                console.log(this.DSTid_distrito);
                                console.log(this.DSTnombre);
                                Distrito.append("<option value='" + this.DSTid_distrito + "'>" + this.DSTnombre + "</option>");
                            });
                        }
                    });
                }                
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
                "bDestroy": true,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ning?n dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Busqueda:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "?ltimo",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });

    </script>

    @RenderSection("scripts", required: false)



</body>
</html>