@model ContactameYa.Models.conSERpServicio

@{
    Layout = null;

    //CATEGORIAS DE SERVICIOS Y SERVICIOS DEL PROVEEDOR
    List<ContactameYa.Models.conCATtCategoria> lstCategoriaServicios = ViewBag.lstCategoriaServicios;
    List<ContactameYa.Models.conSERpServicio> lstServicios = ViewBag.lstServicios;

    //LISTA DE ESTADOS
    List<SelectListItem> lstEstados = new List<SelectListItem>();
    List<SelectListItem> lstProvincias = new List<SelectListItem>();
    List<SelectListItem> lstDistritos = new List<SelectListItem>();



    lstEstados.Add(new SelectListItem() { Text = "Activo", Value = "A" });
    lstEstados.Add(new SelectListItem() { Text = "Inactivo", Value = "I" });

    //DEPARTAMENTOS
    List<ContactameYa.Models.conDTOtDepartamento> lstDepartamentos = ViewBag.lstDepartamentos;

}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>cyaFrmServicioVista</title>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="https://getbootstrap.com/docs/4.3/examples/album/#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                         stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Contactame Ya</strong>
                </a>
                @using (Html.BeginForm("mtdFiltrarLocalizacion", "conClsServicio", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @*@Html.Label("Departamento", htmlAttributes: new { @class = "mr-sm-2 text-white" })*@
                    @Html.DropDownList("xGintIdDepartamento", new SelectList(lstDepartamentos, "DTOid_departamento", "DTOnombre") ,
                   "Departamento", new { @class = "form-control mr-sm-2", required = true })

                    @*@Html.Label("Provincia", htmlAttributes: new { @class = "mr-sm-2 text-white" })*@

                    @*@Html.DropDownList("Provincia", (SelectList)ViewBag.MyList, "Seleccione", new { @class = "form-control mr-sm-2" })*@

                    @Html.DropDownList("xGintIdProvincia", new SelectList(lstProvincias, "PRVid_provincia", "PRVnombre") ,
                   "Provincia", new { @class = "form-control mr-sm-2", required = true })

                    @*@Html.Label("Distrito", htmlAttributes: new { @class = "mr-sm-2 text-white" })*@
                    @Html.DropDownList("xGintIdDistrito", new SelectList(lstDistritos, "DSTid_distrito", "DSTnombre") ,
                   "Distrito", new { @class = "form-control mr-sm-2", required = true })

                    <button class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z" />
                        </svg>
                    </button>
                }
                <div class="dropdown">
                    <button class="btn btn-outline-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ingresar
                    </button>

                    <div class="dropdown-menu">
                        <form class="px-4 py-3">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-outline-secondary text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuenta
                    </button>
                    <div class="dropdown-menu">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                Cerrar Sesion
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">Mi Perfil</a>
                            <a href="#" class="list-group-item list-group-item-action">Mis Servicios</a>
                            <a href="#" class="list-group-item list-group-item-action">Solicitar Cotizacion</a>
                            <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>




    @using (Html.BeginForm("mtdGuardar", "conClsServicio", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.SERid_servicio)

        <div class="form-horizontal">
            <h4>Servicios</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.conCATtCategoria.CATnombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownListFor(model => model.CATcodigo, lstCategoriaServicios, " Seleccione ", new { @class = "form-control" })*@

                    @Html.DropDownListFor(model => model.CATid_categoria,
                new SelectList(lstCategoriaServicios, "CATid_categoria", "CATnombre"), "Porfavor Seleccione...", new { @class = "form-control" })
                    @*@Html.EditorFor(model => model.CATcodigo, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.CATid_categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SERnombre_servicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SERnombre_servicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SERnombre_servicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SERdescripcion_servicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SERdescripcion_servicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SERdescripcion_servicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SERprecio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SERprecio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SERprecio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SERimagenes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SERimagenes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SERimagenes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SERestado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.SERestado, lstEstados, " Seleccione ", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SERestado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.conCATtCategoria.CATnombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERnombre_servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERdescripcion_servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERprecio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERimagenes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>

        @foreach (var item in lstServicios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.conCATtCategoria.CATnombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERnombre_servicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERdescripcion_servicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERprecio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERimagenes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERestado)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "cyaFrmServicioVista", new { id = item.SERid_servicio })
                </td>
            </tr>
        }
    </table>

    
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            var Departamento = $("#xGintIdDepartamento");
            var Provincia = $("#xGintIdProvincia");
            var Distrito = $("#xGintIdDistrito");

            Departamento.on("change", function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("mtdListarProvincias", "conClsServicio")',
                    data: { id_departamento: $("#xGintIdDepartamento").val() },
                    dataType: "json",
                    success: function (data) {
                        Provincia.empty();
                        Provincia.append("<option >Seleccione</option>");

                        $.each(data, function () {
                            console.log(this.PRVid_provincia);
                            console.log(this.PRVnombre);
                            Provincia.append("<option value='" + this.PRVid_provincia + "'>" + this.PRVnombre + "</option>");
                        });
                    }
                });
            });

            Provincia.on("change", function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("mtdListarDistritos", "conClsServicio")',
                    data: { id_provincia: $("#xGintIdProvincia").val() },
                    dataType: "json",
                    success: function (data) {
                        Distrito.empty();
                        Distrito.append("<option >Seleccione</option>");
                        $.each(data, function () {
                            console.log(this.DSTid_distrito);
                            console.log(this.DSTnombre);
                            Distrito.append("<option value='" + this.DSTid_distrito + "'>" + this.DSTnombre + "</option>");
                        });
                    }
                });
            });
        });

    </script>
</body>
</html>
