@model ContactameYa.Models.conSERpServicio

@{
    ViewBag.Title = "Detalles Servicio";

    int[] estrellas_cal = new int[] { 5, 4, 3, 2, 1 };

    var calficaciones = Model.conCALpCalificacion               
               .OrderByDescending(g => g.CALcalificacion)
               .GroupBy(g => g.CALcalificacion)
               .Select(g => new
               {
                   cal_number = g.Key,
                   cal_count = g.Count()
               });

    double RatingAverage = 0;
    if (Model.conCALpCalificacion.Count > 0)
    {
        RatingAverage = Model.conCALpCalificacion.Average(r => r.CALcalificacion);
    }
}

    <h1 class="my-4">
        Detalles Servicio
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/Uploads/@Model.SERimagenes" alt="">

        </div>

        <div class="col-md-4">
            <h3 class="my-0">@Model.SERnombre_servicio</h3>
            <p class="my-0">de : <a href=""> @Model.conUSUpUsuario.USUnombre @Model.conUSUpUsuario.USUapellido</a>   </p>
            <div class='starrr'></div>

            <!-- modal a href-->
            <a href=# data-toggle=modal data-target=#exampleModalCenter>@Model.conCALpCalificacion.Count Calificaciones</a>

            <p>
                @Model.SERdescripcion_servicio
            </p>
            
            <p>
                Precio: S/. @Model.SERprecio
            </p>
            <a href="@Url.Action("conFrmPedidoResumenVista","conClsPedidoServicio", new { id = Model.SERid_servicio})" class="btn btn-success" >Solicitar</a>
                        
        </div>

    </div>
    <br />
    <h3>Ultimas Preguntas</h3>
    <hr />
    <div class="row">       
        <div class="col">
            @if (ViewBag.lstPreguntas != null)
            {
                foreach (var item in ViewBag.lstPreguntas)
                {
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="preguntas_icon">
                                <svg viewBox="0 0 18 18" id="ui-icon--question" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><g stroke="#333" stroke-width="1.5" fill="none" fill-rule="evenodd"><path d="M4.429 16.514c0 .553.354.735.797.402l3.724-2.8h6.562c.822 0 1.488-.758 1.488-1.693v-9.73C17 1.757 16.334 1 15.512 1H2.488C1.666 1 1 1.758 1 2.692v10.43c0 .548.448.993.992.993h2.437v2.399z"></path><path d="M5 6h8" stroke-linecap="round"></path></g></svg>
                            </div>
                            
                        </div>
                        <div class="col-sm-11">
                            <p style="color:black">
                                @item.FOPpregunta
                                @if (Model.USUid_usuario == ViewBag.idUsuario && string.IsNullOrEmpty(item.FOPrespuesta))
                                {
                                    <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="Responder(@item.FOPid_foroPregunta);">Responder</a>
                                }
                            </p>
                        </div>
                    </div>
                    if (!string.IsNullOrEmpty(item.FOPrespuesta))
                    {
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="preguntas_icon">
                                    <svg viewBox="0 0 18 18" id="ui-icon--answer" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><g stroke="#333" stroke-width="1.5" fill="none" fill-rule="evenodd"><path d="M13.571 16.514c0 .553-.354.735-.797.402l-3.724-2.8H2.488c-.822 0-1.488-.758-1.488-1.693v-9.73C1 1.757 1.666 1 2.488 1h13.024C16.334 1 17 1.758 17 2.692v10.43a.995.995 0 0 1-.992.993h-2.437v2.399z"></path><path d="M5 6h8M5 9h4.356" stroke-linecap="round"></path></g></svg>
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <p style="color:gray">@item.FOPrespuesta <span class="small">@item.FOPfecha_respuesta.ToString("dd/MM/yyyy")</span> </p>
                                
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="row" id="divRespuesta" style="display:none;">
        <div class="col">
            @using (Html.BeginForm("mtdResponder", "conClsServicio", FormMethod.Post, new { @name = "frmResponder", @id = "frmResponder" }))
            {
                <input type="hidden" id="FOPid_foroPregunta" name="FOPid_foroPregunta" value="" />
                <br />
                <h3>Respuesta</h3>
                <hr />
                <textarea id="FOPrespuesta" name="FOPrespuesta" cols="80" rows="5"></textarea>
                <br />
                <a href="javascript:void(0)" class="btn btn-outline-info" onclick="EnviarFormularioR();">Enviar</a>
            }
        </div>
    </div>
    @if (ViewBag.idUsuario > 0 && Model.USUid_usuario != ViewBag.idUsuario)
    {
        <div class="row">
            <div class="col">
                @using (Html.BeginForm("mtdPreguntar", "conClsServicio", FormMethod.Post, new { @name = "frmPreguntar", @id = "frmPreguntar" }))
                {
                    <input type="hidden" id="FOPid_foroPregunta" name="FOPid_foroPregunta" value="" />
                    <input type="hidden" id="SERid_servicio" name="SERid_servicio" value="@Model.SERid_servicio" />
                    <input type="hidden" id="USUid_usuario" name="USUid_usuario" value="@ViewBag.idUsuario" />
                    <br />
                    <h3>Nueva Pregunta</h3>
                    <hr />
                    <textarea id="FOPpregunta" name="FOPpregunta" cols="80" rows="5"></textarea>
                    <br />
                    <a href="javascript:void(0)" class="btn btn-outline-info" onclick="EnviarFormulario();">Enviar</a>
                }
            </div>
        </div>
    }

    @*<h3 class="my-4">Related Projects</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div>*@


    <!-- Modal para las calificaciones de los usuarios -->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Opiniones sobre el Servicio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 text-center">
                            <h1>@RatingAverage.ToString().Replace(",", ".")</h1>
                            <div class="star_modal starrr"></div>
                            <br />
                            <span>Promedio entre @Model.conCALpCalificacion.Count opiniones</span>
                        </div>
                        <div class="col-6">

                            @for (int i = 0; i < estrellas_cal.Length; i++)
                            {
                            <div>
                                <span class="text-muted">@estrellas_cal[i] Estrellas</span>
                                <span class="text-muted float-right">@calficaciones.Where(x => x.cal_number == estrellas_cal[i]).Select(x => x.cal_count).SingleOrDefault()</span>

                                @if (calficaciones.Count() > 0)
                                {
                                    <div class="progress md-progress" style="height: 4px;">
                                        <div class="progress-bar" style="width:@(Math.Round( (Decimal) calficaciones.Where(x => x.cal_number == estrellas_cal[i]).Select(x => x.cal_count).SingleOrDefault() / (Decimal)calficaciones.Count() * 100,0))% "></div>
                                    </div>

                                }
                                else
                                {
                                    <div class="progress md-progress" style="height: 4px;">
                                        <div class="progress-bar" style="width:0% "></div>
                                    </div>

                                }


                            </div>
                            }
                        </div>
                    </div>
                    @if (Model.conCALpCalificacion.Count > 0)
                    {
                        foreach (var i in Model.conCALpCalificacion)
                        {
                            @Html.Partial("_Calificacion", i)
                        }
                    }
                    else
                    {
                        <div>
                            <p>Este Servicio no cuenta con opiniones</p>
                        </div>
                    }


                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
            </div>
        </div>
    </div>
</div>
@section scripts {
   
    <script>
        function Responder(id) {
            var x = document.getElementById("divRespuesta");
            x.style.display = "block";
            document.getElementById("FOPid_foroPregunta").value = id;
        };
        function EnviarFormulario() {
            var x = document.forms["frmPreguntar"]["FOPpregunta"].value;
            if (x == "") {
                alert("Pregunta must be filled out");
                return false;
            }
            document.getElementById("frmPreguntar").submit();
        };
        function EnviarFormularioR() {
            var x = document.forms["frmResponder"]["FOPrespuesta"].value;
            if (x == "") {
                alert("Respuesta must be filled out");
                return false;
            }
            document.getElementById("frmResponder").submit();
        };
        $(document).ready(function () {           
            $('.star_modal').starrr({
                rating:  @RatingAverage.ToString().Replace(",","."),
                readOnly: true
            });

            $('.starrr').starrr({
                rating:  @RatingAverage.ToString().Replace(",", "."),
                readOnly: true
            });

            $(".starrrr").starrr({
                rating: 4,
                readOnly:true
            });

        }); 
    </script>
}

