@{
    List<ContactameYa.Models.conSERpServicio> lstServicios = ViewBag.lstServicios;

    //MARKERS

    ViewBag.Title = "Filtrar Localizacion";

}
<div class="row">
    <div class="col-md-12 mb-4">
        <div id="map" class="z-depth-1-half map-container-5" style="height: 300px"></div>
    </div>

    @foreach (var item in lstServicios)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

                <img class="card-img-top" src="~/Uploads/@item.SERimagenes" alt="Card image" style="width:100%">

                <div class="card-body">
                    <h5 class="card-title">@item.SERnombre_servicio</h5>
                    <p class="card-text">
                        @item.SERdescripcion_servicio
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver Detalle</button>
                            @*<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>*@
                        </div>
                        <strong class="text-muted">S/. @item.SERprecio</strong>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
   

<script>

        function initMap() {

            map = new google.maps.Map(
                document.getElementById('map'),
                { center: new google.maps.LatLng(@ViewBag.GdecLatitud, @ViewBag.GdecLongitud), zoom: 15 });

            var markers = [];

            @foreach(var item in (List<ContactameYa.Models.conUSUpUsuario>)ViewBag.GobjMarkers)
            {
                var contenServicio = "";
                foreach(var servicios in item.conSERpServicio)
                {
                    if(servicios.SERestado.Equals("A"))
                    {
                        contenServicio += "<a href=" + Url.Action("conFrmVerServicioVista", "conClsServicio", new { id = servicios.SERid_servicio }) + ">" + servicios.SERnombre_servicio + " </a> </br>";
                    }
                }

                @:markers.push({ position: new google.maps.LatLng(@item.USUlatitud.ToString().Replace(",","."), @item.USUlongitud.ToString().Replace(",",".")), proveedor: '@item.USUnombre @item.USUapellido', servicios: '@Html.Raw(contenServicio)'});
            }
            for (var i = 0; i < markers.length; i++) {
                var marker = new google.maps.Marker({
                    title: markers[i].proveedor,
                    position: markers[i].position,
                    map: map
                });

                var content = "<h6>Proveedor : " + markers[i].proveedor + '</h6>' + "Servicios: </br> " + markers[i].servicios
                var infowindow = new google.maps.InfoWindow()
                google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    };
                })(marker, content, infowindow));
            };
    }
</script>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDufFvNb18FQRVGgQ0UZw_ZA-VF0Sfm5hs&callback=initMap" async defer>
  
    </script>
}
