@model ContactameYa.Models.conSERpServicio
@{

    //CATEGORIAS DE SERVICIOS Y SERVICIOS DEL PROVEEDOR
    List<ContactameYa.Models.conCATtCategoria> lstCategoriaServicios = ViewBag.lstCategoriaServicios;

    //LISTA DE ESTADOS
    List<SelectListItem> lstEstados = new List<SelectListItem>();
    List<SelectListItem> lstProvincias = new List<SelectListItem>();
    List<SelectListItem> lstDistritos = new List<SelectListItem>();



    lstEstados.Add(new SelectListItem() { Text = "Activo", Value = "A" });
    lstEstados.Add(new SelectListItem() { Text = "Inactivo", Value = "I" });

    //DEPARTAMENTOS
    List<ContactameYa.Models.conDTOtDepartamento> lstDepartamentos = ViewBag.lstDepartamentos;

}
@using (Html.BeginForm("mtdGuardar", "conClsServicio", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.SERid_servicio)

    @Html.HiddenFor(model => model.SERimagenes)

    @Html.HiddenFor(model => model.USUid_usuario)

    <div class="form-horizontal">
        <h4>Servicio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group row">
            @Html.LabelFor(model => model.USUid_usuario, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.USUid_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USUid_usuario, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group row">
            @Html.LabelFor(model => model.conCATtCategoria.CATnombre, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-sm-10">
                @*@Html.DropDownListFor(model => model.CATcodigo, lstCategoriaServicios, " Seleccione ", new { @class = "form-control" })*@

                @Html.DropDownListFor(model => model.CATid_categoria,
     new SelectList(lstCategoriaServicios, "CATid_categoria", "CATnombre"), "Porfavor Seleccione...", new { @class = "form-control" })
                @*@Html.EditorFor(model => model.CATcodigo, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.CATid_categoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SERnombre_servicio, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SERnombre_servicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SERnombre_servicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SERdescripcion_servicio, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.SERdescripcion_servicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SERdescripcion_servicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SERprecio, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.SERprecio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SERprecio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SERimagenes, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-sm-10">

                <input type="file" name="file" class="form-control" />
                <label class="text-info">No subir archivo, si no busca modificar</label>
                @*@Html.EditorFor(model => model.SERimagenes, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.SERimagenes, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SERestado, htmlAttributes: new { @class = "col-form-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.SERestado, lstEstados, " Seleccione ", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SERestado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

