@model ContactameYa.Models.conUSUpUsuario
@{
    ViewBag.Title = "Modificar Perfil";
}
@using (Html.BeginForm("mtdGuardarPerfil", "conClsUsuario", FormMethod.Post, new { @id = "frmGuardarPerfil", @name = "frmGuardarPerfil" }))
{
    <div class="row">
        <div class="col-md-6">
            <h4>Modificar Perfil</h4>
            <hr />
            @Html.HiddenFor(model => model.USUid_usuario)
            @Html.HiddenFor(model => model.TIUid_tipo_usuario)
            @Html.HiddenFor(model => model.USUestado)
            @Html.HiddenFor(model => model.USUlatitud)
            @Html.HiddenFor(model => model.USUlongitud)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(model => model.USUusuario, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USUusuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.USUusuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.USUclave, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    <input type="password" class="form-control" id="USUclave" name="USUclave" value="" required />
                    @*@Html.EditorFor(model => model.USUclave, new { htmlAttributes = new { @class = "form-control", @type = "password" } })*@
                    @Html.ValidationMessageFor(model => model.USUclave, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.USUnombre, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USUnombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.USUnombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.USUapellido, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USUapellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.USUapellido, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.USUtelefono, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USUtelefono, new { htmlAttributes = new { @class = "form-control", @type = "tel" } })
                    @Html.ValidationMessageFor(model => model.USUtelefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.USUemail, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.USUemail, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.USUemail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    @*<input type="submit" value="Registrarse" class="btn btn-outline-success" />*@
                    <a href="javascript:void(0)" value="Guardar" class="btn btn-outline-success" onclick="EnviarFormulario();">Guardar</a>
                </div>
            </div>
        </div>
        @if (Model.TIUid_tipo_usuario == 2)
        {
            <div class="col-md-6">
                <h4>Cambiar Dirección</h4>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(model => model.USUdireccion, htmlAttributes: new { @class = "col-form-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.USUdireccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.USUdireccion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="map" class="z-depth-1-half map-container-5" style="height: 300px"></div>

            </div>
        }
    </div>
}
@section scripts {
    <script>
        function EnviarFormulario() {
            var x = document.forms["frmGuardarPerfil"]["USUusuario"].value;
            if (x == "") {
                alert("Usuario must be filled out");
                return false;
            }
            var x = document.forms["frmGuardarPerfil"]["USUclave"].value;
            if (x == "") {
                alert("Clave must be filled out");
                return false;
            }
            var x = document.forms["frmGuardarPerfil"]["USUnombre"].value;
            if (x == "") {
                alert("Nombre must be filled out");
                return false;
            }
            var x = document.forms["frmGuardarPerfil"]["USUapellido"].value;
            if (x == "") {
                alert("Apellido must be filled out");
                return false;
            }
            var x = document.forms["frmGuardarPerfil"]["USUtelefono"].value;
            if (x == "") {
                alert("Telefono must be filled out");
                return false;
            }
            var x = document.forms["frmGuardarPerfil"]["USUemail"].value;
            if (x == "" || !x.includes('@@')) {
                alert("Correo must be filled out");
                return false;
            }
            document.getElementById("frmGuardarPerfil").submit();
        };
        function initMap() {

            var markarray = [];
            //lat y lng de peru
            var myLatlng = { lat: -9.1899672, lng: -75.015152 };
            var geocoder = new google.maps.Geocoder();

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: myLatlng
            });

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });

            function placeMarker(location) {
                // borramos los markers para que solo haya 1
                for (var i = 0; i < markarray.length; i++) {
                    markarray[i].setMap(null);
                }
                markers = [];

                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                //actualizamos el input de direccion
                geocoder.geocode({ 'latLng': location }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            $("#USUdireccion").val(results[0].formatted_address);
                        }
                    }
                });

                google.maps.event.addListener(marker, "click", function (e) {
                    var infowindow = new google.maps.InfoWindow();
                    infowindow.setContent();

                    geocoder.geocode({ 'latLng': location }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                infowindow.setContent(results[0].formatted_address);
                            }
                        }
                    });

                    infowindow.open(map, marker);

                });
                markarray.push(marker);
                var latitude = marker.position.lat();
                var longitude = marker.position.lng();

                $("#USUlatitud").val((latitude.toFixed(9)).replace(".", ","));
                $("#USUlongitud").val(longitude.toFixed(9).replace(".", ","));


            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TlBUf026W9M6XdLBEjjFrsoSy1A-bkk&callback=initMap" async defer>
    </script>
}
